.input-group {
  margin: 20px 0px;
}

td, th {
  vertical-align: middle !important; /* So we don't conflict with bootstrap add !important */
  text-align: center !important;
}

td:first-of-type {
  height: 200px;
  width: 250px;
}
